body{
	overflow: hidden;
}

#header{
	position: absolute;
	height: 10%;
	width: 100%;
	background: url(../img/cabecera.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-bottom: 1px solid #724E36;
}

#radio_list{
	top: 10%;
	height: 90%;
	width: 100%;
	position: absolute;
	overflow: auto;

}

#streaming_list{
	list-style-type: none;
}

li{
	width: 90%;
	border-bottom: 1px solid  #724E36;
	padding-top: 0.5em;
	padding-bottom: 0.7em;
	margin-bottom: 0;
	margin-top: 0.5em;
	clear: both;
}

#player{
	display: none;
	z-index: 4;
	position: absolute;
	top: 85%;
	height: 15%;
	width: 100%;
	opaciy: 0.4;
	background: #724e36;
	padding-top: 5px;	
}

#radio_name{
	position: absolute;
	width: 68%;
	top: 40%;
	margin-left: 2%;
	color: #eeeeee;
	text-align: left;
	font-size: 1em;
	font-weight: normal;
	line-height: 100%;
	vertical-align: middle;
}

#stop{
	position: absolute;
	width: 10%;
	height: 40%;
	left: 70%;
	top: 25%;
	background: url("../img/stop.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#mute{
	position: absolute;
	width: 10%;
	height: 40%;
	left: 85%;
	top: 25%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.muted{
	background-image: url("../img/muted.png");
}

.unmuted{
	background-image: url("../img/mute.png");
}

#loading{
	display: none;
	z-index: 5;
	position: absolute;
	top: 85%;
	height: 15%;
	width: 100%;
	opaciy: 0.4;
	color: #eeeeee;
	text-align:center;
	font-size:1em;
	font-weight: normal;
	line-height: 100%;
	vertical-align: middle;
	background: #724e36;
	padding-top: 5px;
}
